<head>
    <meta charset="UTF-8">
    <title>Users per period</title>
    <script>
        setInterval(() => Location.reload(), 3600000);
    </script>

    {% load static %}

    <link rel="stylesheet" type="text/css" href="{% static 'showusers/style.css' %}">

</head>

<body bgcolor="#2b303e">


            <div id="left_block">
                <div class="head1">
                   DAU
                </div>
                <div class="m1">
                        Daily Active Users • {{date_day}}
                </div>
                <div class="val1">
                        {{DAU}}
                </div>
                {% if trDAU == '▲' %}
                <div class="gUPDOWN1" >

                    <font size="41px">{{trDAU}}</font>{{DAUgrowth}}
                </div>
                {% elif trDAU == '▼' %}
                <div class="rUPDOWN1" >

                    <font size="41px">{{trDAU}}</font>{{DAUgrowth}}
                </div>
                {% else %}
                <div class="grUPDOWN1" >

                    <font size="41px">{{trDAU}}</font>{{DAUgrowth}}
                </div>
                {% endif %}
            </div>



            <div id="right_block">
                <div class="head1">
                    MAU
                </div>
                <div class="m1">
                    Monthly Active Users • {{date_month}}
                </div>
                <div class="val1">
                        {{MAU}}
                </div>
                {% if trMAU == '▲' %}
                <div class="gUPDOWN1" >
                    <font size="41px">{{trMAU}}</font>{{MAUgrowth}}
                </div>
                {% elif trMAU == '▼' %}
                <div class="rUPDOWN1" >
                <font size="41px">{{trMAU}}</font>{{MAUgrowth}}
                </div>
                {% else %}
                <div class="grUPDOWN1" >
                    <font size="41px">{{trMAU}}</font>{{MAUgrowth}}
                </div>
                {% endif %}
            </div>

            <div id="line"></div>
            {% load static %}
            <img src="{% static "showusers/logo.png" %}" alt="My image" id="img">
            <div id="date">
                Fast prod • {{date_today}}
            </div>

    </body>
</html>
